.post-detail-div {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
  background-color: rgb(170, 148, 255);
}
.gallery-image {
  width: 100%;
}
