.loading-div {
  animation: scaleAnimation 6s infinite; /* 1s duration and loop infinitely */
  width: 30%;
  min-width: 200px;
  margin: auto;
  border-radius: 20px;
  color: #5b36ff;
  /* padding: 100px; */
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(0, 255, 26, 0.495);
}

.post-detail-div {
  background-image: linear-gradient(145deg, #7777f3bd, #5b36ff83);
  margin: 10px auto;
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 20px;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}
.post-detail-div {
  font-size: 1.2rem;
  color: white;
  letter-spacing: 2px;
  padding: 5px 20px 20px 20px;
  min-width: 200px;
}
.gallery-image {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}
.desc-price-container {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-rows: 4fr 1fr;
  padding: 10px 10px 10px 10px;
  background-color: #5b36ff83;
  border: 1px solid #7777f3bd;
  height: 100px;
  overflow: auto;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0px 20px;
  background-color: #5b36ff83;
  border: 1px solid #7777f3bd;
  border-bottom: none;
}

.title-cat-container {
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr; */
  /* padding: 0px 0px 0px 10px; */
  background-color: #5b36ff83;
  border: 1px solid #7777f3bd;
  border-bottom: none;
}

.category-label {
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight: bold;
  display: inline-block;
  padding: 0px 0px 0px 10px;
  border-radius: 5px;
  height: 2.7rem;
  line-height: 3rem;
  margin-bottom: 5px;
  margin-left: 30px;
}

.category-span {
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight: bold;
  display: inline-block;
  padding: 0px 0px 0px 10px;
  border-radius: 5px;
  height: 2.7rem;
  line-height: 3rem;
  margin-bottom: 5px;
  text-shadow: 0 0 2px #00000096;
}

.detail-title {
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  line-height: 1;
  padding: 8px 0px 15px 0px;
  color: #ffffdb;
  text-shadow: 0 0 2px #00000096;
}

.price-details {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  letter-spacing: 2px;
  font-weight: bolder;
  padding: 0px 5px;
  background-color: rgba(200, 255, 205, 0.786);
  border: 1px solid #7777f3bd;
}

.desc-details {
  font-size: 1rem;
  color: #ffffdb;
  letter-spacing: 2px;
  font-weight: bolder;
  line-height: 1.2;
  text-shadow: 0 0 2px #00000096;
  font-family: cursive;
  padding: 0px 10px;
}

.contact {
  margin-left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

.contact a {
  text-decoration: none;
  margin-left: 40px;
  padding: 5px 10px;
}
.contact a:hover {
  border-radius: 5px;
  border: 2px solid #ffffdb;
  box-shadow: 0 0 5px 0 #ffffdb;
  transition: 250ms;
  background: linear-gradient(
    to top left,
    #b6b6fbbd,
    #b6b6fbbd,
    #b6b6fbbd,
    #7777f3bd,
    #5b36ff83,
    #2f00ff83
  );
  background-size: 400% 400%;
  animation: shimmer 250ms ease-in;
  color: white;
}

@keyframes shimmer {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}
/* gallery image display */
.gallery-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.gallery-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swipe-button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.swipe-button:focus {
  outline: none;
}

.thumbnail-gallery {
  width: 50px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #ffffff;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  cursor: pointer;
  flex-wrap: wrap;
  gap: 3px;
  background-color: #5b36ff83;
  border: 1px solid #7777f3bd;
  padding: 5px;
}

/* modal */
.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  border-radius: 4px;
  outline: none;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgb(253, 34, 34);
  color: white;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  display: block;
  padding-bottom: 1px;
}

.post-detail-div-wrapper {
  /* width: ; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(50px, auto));
  flex-wrap: wrap;
  justify-items: flex-start;
  align-items: flex-start;
  margin: 0px auto;
  padding: 0 0rem;
  /* max-width: 1200px; */
  background-color: rgb(176, 176, 253);
  background: linear-gradient(270deg, #7777f3bd, #5b36ff83, #2f00ff83);
  background-size: 400% 400%;
  animation: ocean 10s ease-in-out infinite;
  letter-spacing: 1.5px;
  position: relative;
  width: 100%;
  /* height: calc(100vh - 90px); */
  /* height: calc(100vh - 90px); */
  flex-grow: 1;
}

@media (min-width: 768px) {
  .post-detail-div {
    display: grid;
    grid-template-columns: 3fr 5fr;
    max-width: 750px;
  }

  .thumbnail-container {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
  }

  .desc-price-container {
    min-width: 225px;
    height: unset;
  }

  .gallery-container,
  .gallery-image {
    margin: 0;
    border-radius: 0px;
  }

  .thumbnail-gallery {
    width: 100px;
  }
}
