header {
  background-color: #000000;
  height: 90px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-width: 333px;
  /* top: 0;
  position: sticky; */ /* this is causing the header to be sticky but also the menu to malfunction since it's out of view...  */
}
.logo {
  height: 80px;
  margin-top: 5px;
  /* grid-area: logo; */
}

.title {
  font-size: 1.5em;
  grid-area: title;
  margin: 0;
  position: relative;
  top: -15px;
  left: -15px;
  font-family: 'Gruppo', cursive;
  min-width: 207px;
}

.header-section p {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

/* style for Link component */
.new-link {
  color: rgb(38, 0, 255);
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px 4px 5px 4px;
  background-color: rgb(123, 123, 255);
  font-size: 1rem;
  display: flex;
  transition: 2000ms;
}

.new-link:active {
  color: rgb(255, 255, 255);
  /* background-color: transparent; */
  background-color: rgb(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  transition: 400ms ease-in-out;
  transform: scale(1.1);
}

.upload-icon {
  height: 60px;
  width: 60px;
  /* margin-left: 20px; */
}

.upload-icon:hover,
.upload-icon:active {
}

/* style for button */
.signout-button {
  color: rgb(38, 0, 255);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 4px 4px 2px 4px;
  background-color: rgb(123, 123, 255);
  font-size: 1rem;
  display: flex;
  font-family: 'Shadows Into Light', cursive;
  /* max-width: 100px; */
  transition: 100ms;
  /* align-items: center; */
  /* width: 50%; */
}

/* style for button when hovered or focused */

.signout-button:focus {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 250ms ease-in-out;
  transform: scale(1.1);
  background-color: rgb(0, 0, 0, 0.5);
  transition: 400ms;
}

.signout-nav-icon {
  /* margin: 0 20px 0 40px; */
  height: 40px;
  /* box-shadow: 0 0 8px 0 white; */
}
.user-email {
  font-size: 0.8rem;
  color: rgb(0, 255, 64);
  text-decoration: none;
  font-weight: bold;
}

.menu-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0px;
  background-color: #838383;
  background-image: linear-gradient(315deg, #838383 0%, #2f00ffa1 74%);
  z-index: 10;
  /* border-bottom: 2px solid #2f00ff; */

  height: 0px;
  overflow: hidden;
  transition: 500ms ease-in-out;
  position: absolute;
  top: 90px;
  z-index: 10;
  min-width: 340px;
}

.menu-div.open {
  height: 100px;
  position: absolute;
  transform: translateY(-100%);
  border-bottom: 2px solid #2f00ff;
  /* display: flex; */
  /* justify-content: space-around; */
}

.menu-icon,
.menu-no-user {
  /* background-color: rgb(165, 165, 165); */
  padding: 0px;
  border-radius: 50%;
  margin: 0 20px 0 0px;
  height: 40px;
  box-shadow: 0 0 8px 0 white;
  transition: 200ms ease-in;
  box-shadow: 0 0 0 0.2rem rgba(50, 50, 50, 0.5);
}
.menu-no-user {
  display: block;
  width: 40px;
  margin-right: 20px;
}
.menu-icon:hover,
.menu-no-user:hover {
  cursor: pointer;
  transition: 200ms ease-in;
  box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.5);
}
.menu-icon:active,
.menu-no-user:active {
  background-color: #2f00ff;
  cursor: pointer;
  transition: 200ms ease-in;
  box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.5);
}
.new-post-span {
  margin-top: -4px;
}

.menu-btn {
  display: none;
}

@media (min-width: 420px) {
  .menu-btn {
    display: block;
  }
}

@media (min-width: 1024px) {
  .menu-div {
    display: none;
  }

  .menu-div-adapt {
    display: none;
  }

  .new-link:active,
  .signout-button:active {
    transform: scale(1);
    transition: 500ms;
  }
  .signout-button,
  .new-link {
    box-shadow: 0 0 10px 0 #7777f3bd;
  }
}
