.gallery-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-top: 20px;
  min-width: 333px;
}

.menu-search-container {
  display: none;
}

.rotating-marble {
  width: 30%;
  display: flex;
  justify-content: center;
  animation: rotate1 10s linear infinite;
  box-shadow: 0px 0px 15px #5b36ff83;
  border-radius: 50%;
  position: relative;
  top: 100px;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.up-top-msg {
  background-color: aliceblue;
  text-align: center;
  font-weight: bold;
  padding: 5px 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.up-top-msg a {
  text-decoration: none;
  color: rgb(85, 145, 255);
  text-shadow: 0px 0px 5px #5b36ff83;
}
@media (min-width: 1024px) {
  .menu-search-container {
    /* background-image: linear-gradient(145deg, #7777f3bd, #5b36ff83); */
    background-image: linear-gradient(145deg, rgb(74, 74, 74), black);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* border-top: 2px solid #5b36ff83; */
    border-top: 2px solid black;
    /* border-bottom: 2px solid #5b36ff83; */
    border-bottom: 2px solid black;
    padding: 30px 0;
  }
  .header-section {
    display: none;
  }
}
