.gallery-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: auto; */
  /* flex-wrap: wrap; */
  /* justify-items: center; */
  /* align-items: center; */
  /* margin: 5px auto; */
  gap: 3px;
  padding: 3px;
}

.search-container {
  /* background-color: white; */
  /* background: ; */
  background-image: linear-gradient(145deg, #7777f3bd, #5b36ff83);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.rotating-marble {
  /* transform: rotateX('360deg'); */
  width: 50%;
  display: flex;
  justify-content: center;
  animation: rotate1 10s linear infinite;
  box-shadow: 0px 0px 15px #5b36ff83;
  border-radius: 50%;
  position: relative;
  top: 200px;
}
@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @media (min-width: 480px) {
  .gallery-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .gallery-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
} */
