.loading-div {
  animation: scaleAnimation 6s infinite; /* 1s duration and loop infinitely */
  width: 30%;
  min-width: 200px;
  margin: auto;
  border-radius: 20px;
  color: #5b36ff;
  /* padding: 100px; */
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(0, 255, 26, 0.495);
}

.loading-text {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}
