.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(176, 176, 253);
  background: linear-gradient(270deg, #7777f3bd, #5b36ff83, #2f00ff83);
  background-size: 400% 400%;
  animation: ocean 10s ease-in-out infinite;
}

@keyframes ocean {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.auth-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 150px;
}

.sign-in-sign-out {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  /* margin-top: 100px; */
  position: relative;
}

.auth-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  /* background-color: rgb(86, 86, 253); */
  transition: all 0.3s ease;
}

.email-container {
  display: flex;
  flex-direction: column;
}

.input-auth {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.input-auth:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.button-auth {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgba(86, 86, 253, 0.54);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Shadows Into Light', cursive;
  width: 150px;
}

.active {
  background-image: linear-gradient(315deg, #7777f3c4, #5b36ff83);
}

.marble-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.rotating-marble {
  /* transform: rotateX('360deg'); */
  width: 50%;
  display: flex;
  justify-content: center;
  animation: rotate 10s linear infinite;
  box-shadow: 0px 0px 15px #5b36ff83;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scene {
  width: 152px;
  height: 152px;
  position: relative;
  top: 60px;
}
.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid #5b36ff83;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.front {
  transform: rotateY(0deg) translateZ(75px);
  background-image: url('/public/bubbler.jpeg');
}

.back {
  transform: rotateY(180deg) translateZ(75px);
  background-image: url('/public/marble.jpg');
}

.right {
  transform: rotateY(90deg) translateZ(75px);
  background-image: url('/public/8.jpg');
}

.left {
  transform: rotateY(-90deg) translateZ(75px);
  background-image: url('/public/7.jpg');
}

.top {
  transform: rotateX(90deg) translateZ(75px);
  background-image: url('/public/6.jpg');
}

.bottom {
  transform: rotateX(-90deg) translateZ(75px);
  background-image: url('/public/sherlock.jpeg');
}

@keyframes rotate {
  0% {
    transform: rotateX(15deg) rotateY(15deg) rotateZ(15deg) translateX(-100px) translateY(0px);
  }
  25% {
    transform: rotateX(103deg) rotateY(96deg) rotateZ(90deg) translateX(0px) translateY(25px);
  }
  50% {
    transform: rotateX(162deg) rotateY(187deg) rotateZ(180deg) translateX(100px) translateY(50px);
  }
  75% {
    transform: rotateX(298deg) rotateY(265deg) rotateZ(360deg) translateX(0px) translateY(25px);
  }
  100% {
    transform: rotateX(375deg) rotateY(375deg) rotateZ(375deg) translateX(-100px) translateY(0px);
  }
}
